footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: orangered;
    color: orangered;
    /* other styles */
    /* margin-top: 1200px; */
  }
  .text-center{
    background-color: orangered;
  }