<!-- <div class="home">
    <div>
        <img src="https://wallpapercave.com/wp/wp1874179.jpg" alt="" height="600px" width="1400px" style="margin-left: 100px;margin-top: 50px;">
    </div>
   
    
</div> -->
<div class="home">
    <div><img src="https://th.bing.com/th/id/OIP.xQ22p4-a5USKTUEmnVhB9QHaEK?w=335&h=187&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="" height="600px" width="700px" style="margin-top: 50px;margin-left: 100px;"></div>
   <div style="margin-top: 250px;margin-left: 50px; color: orangered;"><h1 >WELCOME TO FIERY RESTAURANT</h1>
<h5 style="margin-left: 120px;color: orangered;">where every flavour will tell a story</h5>
</div>
</div>
