<DIV class="navbar" style="background-color: yellowgreen;color: red;">
    <div class="fiery">
        <H1>FIERY</H1>
        
        </div>
        <DIV>
            <div class="menu">
                <div><a href="" class="buttons">HOME</a></div>
            
            <div class="dropdown">
                <a href="#" class="dropbtn" style="color:red;text-decoration: none;font-weight: bold;font-size: large;">ORDERS</a>
                <div class="dropdown-content">
                  <a routerLink="/vieworders">view orders</a>
              
                  <a href="#">place order</a>
                </div>
            </div>
            <div><a href="" class="buttons">PAYMENTS</a></div>
            <div><a href="" class="buttons">CONTACT US</a></div>
            </div>
        </DIV>
</DIV>
<router-outlet></router-outlet>